/*.codystar  {
  font-family: "Codystar", Arial, sans-serif;
}

.container  {
  background-color: red;
}*/

#game_box  {
  border: 2px dotted white;
  color: white;
  text-align: center;
  margin: 2em 2em 2em 2em;
}
